# TestResults


## Fields

| Field                    | Type                     | Required                 | Description              | Example                  |
| ------------------------ | ------------------------ | ------------------------ | ------------------------ | ------------------------ |
| `general_test_result`    | *Optional[str]*          | :heavy_minus_sign:       | N/A                      | s3://                    |
| `aggregated_test_result` | Dict[str, *str*]         | :heavy_minus_sign:       | N/A                      |                          |